# COMP 598 - Homework 1

In this mini-project, we’ll be assessing the frequency with which troll tweets mention “Trump” by name.

In [1]:
import numpy as np
import pandas as pd

## Data Collection

- Download the raw tweet data.  You will ONLY be using the data from the first file (IRAhandle_tweets_1.csv).

- Looking at only the first 10,000 tweets in the file, keep those that (1) are in English and (2) don’t contain a question.  This will be our dataset.  To filter the right tweets out, take a look at the columns.
    - There are specific columns that call our language.  You can trust these.
    - Assume that a tweet which contains a question contains a “?” character.

- Create a new file (I would suggest in TSV – tab-separated-value - format) containing these tweets.

In [2]:
filename = 'https://github.com/fivethirtyeight/russian-troll-tweets/raw/master/IRAhandle_tweets_1.csv'

df = pd.read_csv(filename)

# first 10,000 tweets in the file
df10000 = df.iloc[:10000]

# tweets in English
# language = English
tweets_eng = df10000.loc[df10000['language'] == 'English']

print('Number of tweets that are in English:', tweets_eng.shape[0])

# tweets in English that don't contain a question
# content does not contain '?'
tweets_eng_nq = tweets_eng[~tweets_eng['content'].str.contains('?', regex=False)]

print('Number of tweets that are in English and don\'t contain a question:', tweets_eng_nq.shape[0])

# create tsv file
tsv_file_1 = tweets_eng_nq.to_csv('data_collection.tsv', sep='\t', index=False)

Number of tweets that are in English: 5345
Number of tweets that are in English and don't contain a question: 4802

In [3]:
df10000

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3312143142,4MYSQUAD,'@SARAH2TURNNT I love U',United States,LANGUAGE UNDEFINED,9/9/2015 1:13,9/9/2015 1:19,1311,618,2091,...,Left,0,LeftTroll,0,3312143142,641419031673618432,http://twitter.com/4mysquad/statuses/641419031...,NaN,NaN,NaN
9996,3312143142,4MYSQUAD,Rebecca Martin: Public Comment Against More #C...,United States,English,9/9/2015 1:18,9/9/2015 1:18,1311,618,2091,...,Left,0,LeftTroll,0,3312143142,641420337356210176,http://twitter.com/4mysquad/statuses/641420337...,https://www.youtube.com/watch?v=ffCiHzqMJIA,NaN,NaN
9997,3312143142,4MYSQUAD,'@ThisIsRobThomas If You believe - you act',United States,English,9/9/2015 1:29,9/9/2015 1:29,1311,620,2096,...,Left,0,LeftTroll,0,3312143142,641423168989630465,http://twitter.com/4mysquad/statuses/641423168...,NaN,NaN,NaN
9998,3312143142,4MYSQUAD,'@tyriquex when my girl refused to stop painti...,United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2097,...,Left,0,LeftTroll,0,3312143142,641423659505090560,http://twitter.com/4mysquad/statuses/641423659...,NaN,NaN,NaN
9999,3312143142,4MYSQUAD,'@deray New York State Of Mind',United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2098,...,Left,0,LeftTroll,0,3312143142,641423736013385728,http://twitter.com/4mysquad/statuses/641423736...,NaN,NaN,NaN

In [4]:
tweets_eng_nq

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,3312143142,4MYSQUAD,Mom Says #Cop Slammed Son’s Face Into Newly La...,United States,English,9/9/2015 0:54,9/9/2015 0:54,1311,618,2078,...,Left,0,LeftTroll,0,3312143142,641414424163577856,http://twitter.com/4mysquad/statuses/641414424...,https://twitter.com/4mysquad/status/6414144241...,http://tmblr.co/ZSSdql1tkXKeM,NaN
9996,3312143142,4MYSQUAD,Rebecca Martin: Public Comment Against More #C...,United States,English,9/9/2015 1:18,9/9/2015 1:18,1311,618,2091,...,Left,0,LeftTroll,0,3312143142,641420337356210176,http://twitter.com/4mysquad/statuses/641420337...,https://www.youtube.com/watch?v=ffCiHzqMJIA,NaN,NaN
9997,3312143142,4MYSQUAD,'@ThisIsRobThomas If You believe - you act',United States,English,9/9/2015 1:29,9/9/2015 1:29,1311,620,2096,...,Left,0,LeftTroll,0,3312143142,641423168989630465,http://twitter.com/4mysquad/statuses/641423168...,NaN,NaN,NaN
9998,3312143142,4MYSQUAD,'@tyriquex when my girl refused to stop painti...,United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2097,...,Left,0,LeftTroll,0,3312143142,641423659505090560,http://twitter.com/4mysquad/statuses/641423659...,NaN,NaN,NaN
9999,3312143142,4MYSQUAD,'@deray New York State Of Mind',United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2098,...,Left,0,LeftTroll,0,3312143142,641423736013385728,http://twitter.com/4mysquad/statuses/641423736...,NaN,NaN,NaN

## Data Annotation

- To do our analysis, we need to add one new feature: whether or not the tweet mentioned Trump. This feature “trump_mention” is Boolean (=”T”/”F”).  A tweet mentions Trump if and only if it contains the word “Trump” (case-sensitive) as a word.  This means that it is separated from other alphanumeric letters by either whitespace OR non-alphanumeric characters (e.g., “anti-Trump protesters” contains “trump”, but “I got trumped” does not).

- Create a new version of your dataset that contains this additional feature.

In [5]:
trump_mention = tweets_eng_nq['content'].str.contains('\\bTrump\\b').values

tweets_eng_nq.insert(21, 'trump_mention', trump_mention)

# keep the following columns, in this order: tweet_id, publish_date, content, and  trump_mention
dataset = tweets_eng_nq[['tweet_id', 'publish_date', 'content', 'trump_mention']]

# create tsv file
tsv_file_2 = dataset.to_csv('dataset.tsv', sep='\t', index=False)

In [6]:
dataset

,tweet_id,publish_date,content,trump_mention
0,914580356430536707,10/1/2017 19:58,"""We have a sitting Democrat US Senator on tria...",False
1,914621840496189440,10/1/2017 22:43,Marshawn Lynch arrives to game in anti-Trump s...,True
2,914623490375979008,10/1/2017 22:50,Daughter of fallen Navy Sailor delivers powerf...,False
3,914639143690555392,10/1/2017 23:52,JUST IN: President Trump dedicates Presidents ...,True
4,914312219952861184,10/1/2017 2:13,"19,000 RESPECTING our National Anthem! #StandF...",False
...,...,...,...,...
9992,641414424163577856,9/9/2015 0:54,Mom Says #Cop Slammed Son’s Face Into Newly La...,False
9996,641420337356210176,9/9/2015 1:18,Rebecca Martin: Public Comment Against More #C...,False
9997,641423168989630465,9/9/2015 1:29,'@ThisIsRobThomas If You believe - you act',False
9998,641423659505090560,9/9/2015 1:31,'@tyriquex when my girl refused to stop painti...,False
9999,641423736013385728,9/9/2015 1:31,'@deray New York State Of Mind',False

## Analysis

- Using your newly annotated dataset, compute the statistic: % of tweets that mention Trump.

- It turns out that our approach isn’t counting tweets properly … meaning that some tweets are getting counted more than once.  Go through and look at your annotated data.  Identify where the counting problem is coming from.

In [7]:
# tweets that mention Trump
# trump_mention = True
num_trump = dataset.loc[dataset['trump_mention'] == True]

print('Number of tweets that mention Trump:', num_trump.shape[0])
print('Number of tweets that are in English and don\'t contain a question:', tweets_eng_nq.shape[0])

# % of tweets that mention Trump
value = num_trump.shape[0]/tweets_eng_nq.shape[0]
value_percent = value*100

print('Percent of tweets that mention Trump: %.3f' % value_percent)

d = {'result': ['frac-trump-mentions'], 'value': [value]}
results = pd.DataFrame(data=d)

# create tsv file
tsv_file_3 = results.to_csv('results.tsv', sep='\t', index=False)

Number of tweets that mention Trump: 108
Number of tweets that are in English and don't contain a question: 4802
Percent of tweets that mention Trump: 2.249

In [8]:
results

                result     value
0  frac-trump-mentions  0.022491